<section class="adv" id="adv">
  <div class="container">
    <div class="adv-container">
      <div class="adv-box">
        <h2 class="visually-hidden">
          High-Performance Sports Watches for Men and Women
        </h2>
        <p class="adv-text">
          Choose <span class="adv-text-grey">your story</span>, making every
          moment unique. Time is your style, and we reveal it.
        </p>
        <div class="adv-box-link">
          <a class="adv-btn" href="#contact">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</section>
