<section class="advertisment" id="advertisement">
  <div class="container">
    <div class="advertisment-container">
      <div class="advertisment-box">
        <h2 class="visually-hidden">Advertisement</h2>
        <p class="advertisment-text">
          Choose <span class="advertisment-text-grey">your story</span>, making
          every moment unique. Time is your style, and we reveal it.
        </p>
        <div class="advertisment-box-link">
          <a class="advertisement-btn" href="#contact">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</section>
