<footer class="footer-part">
    <div class="container footer">

        <div class="logo-slogan">
            <div class="logo">
                <p class="logo"></p>
                <ul class="social">
                    <li class="social-link"></li>
                    <li class="social-link"></li>
                    <li class="social-link"></li>
                </ul>

            </div>

            <p class="slogan"></p>

            <a class="cont-tel"></a>

        </div>


        <div class="link-footer">
            <div class="menu-address">
                <ul class="link-section"></ul>
                <p class="address"></p>
            </div>

            <div class="info">
                <div class="info-text"></div>
                <div class="terms"></div>

            </div>
        </div>
    </div>
</footer>