<footer class="footer-part" id="footer">
    <div class="footer">
        <div class="logo-slogan">
            <div class="logo-section">
                <p class="logo">watchcharm</p>
                <ul class="social">
                    <li class="social-link"><a href="https://www.facebook.com/goITclub/" class="link-item">
                            <svg class="social-icon">
                                <use href="/img/icons.svg#icon-facebook11"></use>
                            </svg>
                        </a></li>
                    <li class="social-link"><a href="https://www.instagram.com/goitclub/" class="link-item">
                            <svg class="social-icon">
                                <use href="/img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a></li>
                    <li class="social-link"><a href="https://www.youtube.com/c/GoIT" class="link-item">
                            <svg class="social-icon">
                                <use href="/img/icons.svg#icon-youtube12"></use>
                            </svg>
                        </a></li>
                </ul>
            </div>
            <div class="container-slogan">
                <p class="slogan">Have the time of your life with our watches: where high-class craftsmanship meets
                    impeccable design</p>
            </div>
            <a class="cont-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
        </div>
        <div class="link-footer">
            <nav class="menu-address">
                <ul class="link-section">
                    <li><a class="nav-link-menu" href="#home">Home</a></li>
                    <li><a class="nav-link-menu" href="#about-us">About Us</a></li>
                    <li><a class="nav-link-menu" href="#catalog">Catalog</a></li>
                    <li><a class="nav-link-menu" href="#sale">Sale</a></li>
                    <li><a class="nav-link-menu" href="#reviews">Reviews</a></li>
                    <li><a class="nav-link-menu" href="#contact-us">Contact Us</a></li>
                </ul>
                <address class="cont-address">
                    <p class="address">1678 S. Pioneer Road Salt Lake City UT 84104</p>
                </address>
            </nav>
            <div class="info">
                <div class="info-text">©2023 The Watch Spot. All rights reserved</div>
                <div class="terms">
                    <a class="nav-link-terms" href="">Terms of Service</a>
                    <a class="nav-link-terms" href="">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>