<header class="header">
    <div class="header-container">
        <p class="logo-head">watchcharm</p>

        <button class="open-mobile-menu">
            <svg class="mobile-icon" width="24" height="24">
              <use href="../img/favicon/symbol-defs.svg#icon-w"></use>
            </svg>
        </button>
        <ul>
            <li class="nav-link">
                <svg class="" width="24" height="24">
                    <use href="../img/sprite.svg/symbol-defs.svg#icon-inst-icon-colored"/>
                </svg>
            </li>
            <li class="nav-link">
                <svg class="" width="24" height="24">
                    <use href="../img/sprite.svg/symbol-defs.svg#icon-fb-icon-colored"/>
                </svg>
            </li>
        </ul>
        <nav>
            <ul class="nav-list visibility-hidden">
                <li class="nav-link">
                    <a href="#home">Home</a>
                </li>

                <li class="nav-link">
                    <a href="aboutUs">About Us</a>
                </li>

                <li class="nav-link">
                    <a href="catalog">Catalog</a>
                </li>
                
                <li class="nav-link">
                    <a href="sale">Sale</a>
                </li>

                    <a href="reviews">Reviews</a>
                </li>

                <li class="nav-link">
                    <a href="contactUs">Contact Us</a>
                </li>
            </ul>
            
        </nav>
       
       
        
    </div>
</header>