<header class="header">
    
        <p class="logo-head">watchcharm</p>
      
        <button class="btn-open-mobile-menu">
            <svg class="mobile-icon" width="28" height="14">
                <use href="../img/sprite.svg/symbol-defs.svg#icon-open-menu"/>
            </svg>
        </button>
     
        <div class="is-mob-open background">

            <button class="btn-close-mobile-menu">
                <svg class="" width="34" height="34">
                    <use href="../img/sprite.svg/symbol-defs.svg#icon-close-menu"/>
                </svg>
            </button>

            <div class="modal-menu">

                <nav>
                    <ul class="nav-list nav-container">
                        <li class="nav-link">
                            <a href="#home">Home</a>
                         </li>

                        <li class="nav-link">
                            <a href="#aboutUs">About Us</a>
                         </li>

                        <li class="nav-link">
                            <a href="#catalog">Catalog</a>
                        </li>
                
                        <li class="nav-link">
                            <a href="#sale">Sale</a>
                        </li>
                        <li class="nav-link"> 
                            <a href="#reviews">Reviews</a>
                        </li>

                        <li class="nav-link">
                            <a href="#contactUs">Contact Us</a>
                        </li>
                    </ul>
                </nav>
       
                <ul>
                    <li class="nav-link">
                        <svg class="" width="24" height="24">
                            <use href="../img/sprite.svg/symbol-defs.svg#icon-inst-icon-white"/>
                        </svg>
                    </li>
                    <li class="nav-link">
                        <svg class="" width="24" height="24">
                            <use href="../img/sprite.svg/symbol-defs.svg#icon-fb-icon-white"/>
                        </svg>
                    </li>
                    <li class="nav-link">
                        <svg class="" width="24" height="24">
                            <use href="../img/sprite.svg/symbol-defs.svg#icon-youtube-icon-white"/>
                        </svg>
                    </li>
                </ul>
          
            </div>  

        </div>  
    
</header>