<section class="hero">
  <div class="container">
    <div>
      <h1 class="hero-title">Welcome to our <span class="collection">collection</span> of premium watches</h1>
      <p class="hero-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero-center">
        <div>
      <ul class="hero-reviewers">
        <li class="rev-item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/img-hero/hero-face1-desk1x.jpg  1x,
                ../img/img-hero/hero-face1-desk@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/img-hero/hero-face1-tab1x.jpg  1x,
                ../img/img-hero/hero-face1-tab@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="../img/img-hero/hero-face1-mob1x.jpg
              ../img/img-hero/hero-face1mob-@2x.jpg 2x
              "
            />
            <img class="rev-picture" src="../img/img-hero/hero-face1-desk@2x.jpg" alt="reviewer1" />
          </picture>
        </li>
        <li class="rev-item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/img-hero/hero-face2-desk1x.jpg  1x,
                ../img/img-hero/hero-face2-desk@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/img-hero/hero-face2-tab1x.jpg  1x,
                ../img/img-hero/hero-face2-tab@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/img-hero/hero-face2-mob1x.jpg  1x,
                ../img/img-hero/hero-face2-mob@2x.jpg 2x
              "
            />
            <img class="rev-picture" src="../img/img-hero/hero-face2-desk@2x.jpg" alt="reviewer2" />
          </picture>
        </li>
        <li class="rev-item">
          <picture>
        <picture>
            <source
              media="(min-width: 1280px)"
              srcset="../img/img-hero/hero-face3-desk1x.jpg 1x, 
              ../img/img-hero/hero-face3-desk@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="../img/img-hero/hero-face3-tab1x.jpg 1x, 
              ../img/img-hero/hero-face3-tab@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="../img/img-hero/hero-face3-mob1x.jpg 1x, 
              ../img/img-hero/hero-face3-mob@2x.jpg 2x
              "
            />
            <img class="rev-picture" src="../img/img-hero/hero-face3-desk@2x.jpg" alt="reviewer3" />
          </picture>
        </li>
      </ul>
      </div>
      <div class="scroll">
      <a class="scroll-link" href="">Scroll down</a>
      </div>
    </div>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ../img/img-hero/hero-img-desk1x.jpg  1x,
          ../img/img-hero/hero-img-desk@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/img-hero/hero-img-tab1x.jpg  1x,
          ../img/img-hero/hero-img-tab@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/img-hero/hero-img-mob1x.jpg  1x,
          ../img/img-hero/hero-img-mob@2x.jpg 2x
        "
      />
      <img class="hero-picture"
        src="../img/img-hero/hero-img-desk@2x.jpg"
        alt="watches on gray background"
      />
    </picture>
  </div>
</section>
