

<section class="reviews">
    <div class="container">
        <h2 class="name-reviews">Reviews</h2>
        <ul class="list-reviews">
            <li class="item-reviews">
                <div class="item-cover">
                    <div class="about-rev">
                        <picture>
                            <source 
                            media="(min-width: 1280px)" 
                            srcset="
                            /img/img-reviews/face1-desk1x.jpg 1x, 
                            /img/img-reviews/face1-desk2x.jpg 2x,
                            /img/img-reviews/face1-desk3x.jpg 3x,
                            /img/img-reviews/face1-desk4x.jpg 4x">
                            <source 
                            media="(min-width: 768px)" 
                            srcset="
                            /img/img-reviews/face1-tab1x.jpg 1x, 
                            /img/img-reviews/face1-tab2x.jpg 2x,
                            /img/img-reviews/face1-tab3x.jpg 3x,
                            /img/img-reviews/face1-tab4x.jpg 4x">
                            <source 
                            media="(max-width: 767px)" 
                            srcset="
                            /img/img-reviews/face1-mob1x.jpg 1x, 
                            /img/img-reviews/face1-mob2x.jpg 2x,
                            /img/img-reviews/face1-mob3x.jpg 3x,
                            /img/img-reviews/face1-mob4x.jpg 4x">
                            <img class="img-review" src="/img/img-reviews/face1-desk4x.jpg" alt="John Wax Photo Circle" width="56">
                        </picture>
                        <h3 class="name-reviewer">John Wax</h3>
                        <p class="text-review">Buying a watch from was the best choice for me. The design is perfectly combined with high quality materials. The strap fits nicely on the hand, and the mechanism works flawlessly.</p>
                    </div>
                </div>  
            </li>
            <li class="item-reviews-second.">
                <div class="item-cover">
                    <div class="about-rev">
                        <picture>
                            <source 
                        media="(min-width: 1280px)" 
                        srcset="
                        /img/img-reviews/face2-desk1x.jpg 1x, 
                        /src/img/img-reviews/face2-desk2x.jpg 2x,
                        /src/img/img-reviews/face2-desk3x.jpg 3x,
                        /src/img/img-reviews/face2-desk4x.jpg 4x">
                            <source 
                        media="(min-width: 768px)" 
                        srcset="
                        /img/img-reviews/face2-tab1x.jpg 1x, 
                        /img/img-reviews/face2-tab2x.jpg 2x,
                        /img/img-reviews/face2-tab3x.jpg 3x,
                        /img/img-reviews/face2-tab4x.jpg 4x
                        ">
                            <img class="img-review" src="/img/img-reviews/face2-desk4x.jpg" alt="Victoria Romashenko Photo Circle" width="56">
                        </picture>
                        <h3 class="name-reviewer">Victoria Romashenko</h3>
                        <p class="text-review">Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me. The build quality and attention to detail make it a real gem among my accessories.</p>
                    </div>   
                </div>
            </li>
            <li class="item-reviews-third">
                <div class="item-cover">
                <div class="about-rev">
                    <picture>
                        <source 
                        media="(min-width: 1280px)" 
                        srcset="
                        /img/img-reviews/face3-desk1x.jpg 1x, 
                        /img/img-reviews/face3-desk2x.jpg 2x,
                        /img/img-reviews/face3-desk3x.jpg 3x,
                        /img/img-reviews/face3-desk4x.jpg 4x">
                        <img class="img-review" src="/img/img-reviews/face3-desk4x.jpg" alt="Anastasia Trachuk Photo Circle" width="56">
                    </picture>
                    <h3 class="name-reviewer">Anastasia Trachuk</h3>
                    <p class="text-review">My watch from is a real masterpiece. Every detail impresses with the high quality of execution. Special features like [specify features] make it an indispensable companion in my daily life.</p>
                </div>
            </div>
            </li>
        </ul>
    </div>
</section>