<section class="sale container">
  <div class="container-sale">
    <h2 class="section-title">Sale</h2>
    <div class="sale-list-item-row">
      <ul class="sale-list">
        <li class="sale-list-item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/img-sale/sale-img1-desk1x.png 1x,
                ../img/img-sale/sale-img1-desk2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/img-sale/sale-img1-tab1x.png 1x,
                ../img/img-sale/sale-img1-tab2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../img/img-sale/sale-img1-mob1x.png 1x,
                ../img/img-sale/sale-img1-mob2x.png 2x
              "
            />
            <img
              class="sale-list-image"
              src="../img/img-sale/sale-img1-desk1x.png"
              alt="MARQ® Commander (Gen 2) - Carbon Edition"
            />
          </picture>
        </li>
        <li class="sale-list-item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/img-sale/sale-img2-desk1x.png 1x,
                ../img/img-sale/sale-img2-desk2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/img-sale/sale-img2-tab1x.png 1x,
                ../img/img-sale/sale-img2-tab2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../img/img-sale/sale-img2-mob1x.png 1x,
                ../img/img-sale/sale-img2-mob2x.png 2x
              "
            />
            <img
              class="sale-list-image img"
              src="../img/img-sale/sale-img2-desk1x.png"
              alt="MARQ® Commander (Gen 2) - Carbon Edition"
            />
          </picture>
        </li>
        <li class="sale-list-item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/img-sale/sale-img3-desk1x.png 1x,
                ../img/img-sale/sale-img3-desk2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/img-sale/sale-img3-tab1x.png 1x,
                ../img/img-sale/sale-img3-tab2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../img/img-sale/sale-img3-mob1x.png 1x,
                ../img/img-sale/sale-img3-mob2x.png 2x
              "
            />
            <img
              class="sale-list-image"
              src="../img/img-sale/sale-img3-desk1x.png"
              alt="MARQ® Commander (Gen 2) - Carbon Edition"
            />
          </picture>
        </li>
        <li class="sale-list-item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/img-sale/sale-img4-desk1x.png 1x,
                ../img/img-sale/sale-img4-desk2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/img-sale/sale-img4-tab1x.png 1x,
                ../img/img-sale/sale-img4-tab2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../img/img-sale/sale-img4-mob1x.png 1x,
                ../img/img-sale/sale-img4-mob2x.png 2x
              "
            />
            <img
              class="sale-list-image"
              src="../img/img-sale//sale-img4-desk1x.png"
              alt="MARQ® Commander (Gen 2) - Carbon Edition"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="sale-list-image-big">
      <li class="sale-list-item-front">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/img-sale/sale-img5-desk1x.png 1x,
              ../img/img-sale/sale-img5-desk2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/img-sale/sale-img5-tab1x.png 1x,
              ../img/img-sale/sale-img5-tab2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ../img/img-sale/sale-img5-mob1x.png 1x,
              ../img/img-sale/sale-img5-mob2x.png 2x
            "
          />
          <img
            class="sale-list-item-image-big"
            src="../img//img-sale/sale-img5-desk1x.png"
            alt="MARQ® Commander (Gen 2) - Carbon Edition"
          />
        </picture>
      </li>
    </div>
    <div class="sale-item-list-description">
      <div class="sale-item-description">
        <h3 class="sale-item-description-title">
          MARQ® Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-item-description-tag">Product tag: 706587</p>
      </div>
      <div class="sale-item-new-price">
        <span class="sale-item-price">€1500</span>
        <span class="sale-item-old-price">€3000</span>
      </div>
      <p class="sale-item-description-text">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <div class="sale-item-description-types">
        <span class="sale-item-description-type-text">Fused carbon fiber </span>
        <span class="sale-item-description-type-text">Grade-5 Titanuim</span>
        <span class="sale-item-description-type-text">Athlete</span>
        <span class="sale-item-description-type-text">Golfer</span>
        <span class="sale-item-description-type-text">Commander</span>
        <span class="sale-item-description-type-text">Adventurer</span>
      </div>
    </div>
  </div>
</section>
