<section class="section-sale" id="sale">
  <div class="container">
    <h2 class="sale-logo">Sale</h2>
    <div id="sale" class="container-sale">
      <div class="sale-content">
        <ul class="sale-link">
          <li class="sale-list">
            <picture>
              <source
                srcset="
                  /img/img-sale/sale-img1-desk1x.png 1x,
                  /img/img-sale/sale-img1-desk2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/img-sale/sale-img1-tab1x.png 1x,
                  /img/img-sale/sale-img1-tab2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/img-sale/sale-img1-mob1x.png 1x,
                  /img/img-sale/sale-img1-mob2x.png 2x
                "
                media="(min-width:320px)"
              />
              <img
                class="sale-images"
                src="/img/img-sale/sale-img1-desk1x.png"
                alt="sale_green"
                width="96"
                height="100"
              />
            </picture>
          </li>
          <li class="sale-list">
            <picture>
              <source
                srcset="
                  /img/img-sale/sale-img2-desk1x.png 1x,
                  /img/img-sale/sale-img2-desk2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/img-sale/sale-img2-tab1x.png 1x,
                  /img/img-sale/sale-img2-tab2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/img-sale/sale-img2-tab1x.png 1x,
                  /img/img-sale/sale-img2-tab1x.png 2x
                "
                media="(min-width:320px)"
              />
              <img
                class="sale-images"
                src="/img/img-sale/sale-img2-desk1x.png"
                alt="sale_blue"
                width="96"
                height="100"
              />
            </picture>
          </li>
          <li class="sale-list">
            <picture>
              <source
                srcset="
                  /img/img-sale/sale-img3-desk1x.png 1x,
                  /img/img-sale/sale-img3-desk2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/img-sale/sale-img3-tab1x.png 1x,
                  /img/img-sale/sale-img3-tab2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/img-sale/sale-img3-mob1x.png 1x,
                  /img/img-sale/sale-img3-mob2x.png 2x
                "
                media="(min-width:320px)"
              />
              <img
                class="sale-images"
                src="/img/img-sale/sale-img3-desk1x.png"
                alt="sale_side"
                width="96"
                height="100"
              />
            </picture>
          </li>
          <li class="sale-list">
            <picture>
              <source
                srcset="
                  /img/img-sale/sale-img4-desk1x.png 1x,
                  /img/img-sale/sale-img4-desk2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/img-sale/sale-img4-tab1x.png 1x,
                  /img/img-sale/sale-img4-tab2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/img-sale/sale-img4-mob1x.png 1x,
                  /img/img-sale/sale-img4-mob2x.png 2x
                "
                media="(min-widtht:320px)"
              />
              <img
                class="sale-images"
                src="/img/img-sale/sale-img4-desk1x.png"
                alt="sale_back"
                width="96"
                height="100"
              />
            </picture>
          </li>
        </ul>
        <div class="sale-list-big">
          <picture>
            <source
              srcset="
                /img/img-sale/sale-img5-desk1x.png 1x,
                /img/img-sale/sale-img5-desk2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                /img/img-sale/sale-img5-tab1x.png 1x,
                /img/img-sale/sale-img5-tab2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                /img/img-sale/sale-img5-mob1x.png 1x,
                /img/img-sale/sale-img5-mob2x.png 2x
              "
              media="(min-width:320px)"
            />
            <img
              class="sale-images-big"
              src="/img/img-sale/sale-img5-desk1x.png"
              alt="sale_main"
              width="328"
              height="398"
            />
          </picture>
        </div>
      </div>
      <div class="container-sale-ty">
        <div class="container-sale-ty-m">
          <h3 class="sale-logo-ty">MARQ® Commander (Gen 2) - Carbon Edition</h3>
          <p class="sale-text">Product tag: 706587</p>
          <div class="sale-price">
            <span class="sale-current-price">€1500</span>
            <span class="sale-old-price">€3000</span>
          </div>
          <p class="sale-text-fri">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
            smartwatch for adventurers that takes materials and features to the
            next level. The body of the watch is made of very durable Fused
            Carbon Fiber material and has a precise AMOLED touch screen. The
            sensitive touch screen is complemented by buttons that can be used
            in any conditions.
          </p>
          <div class="sale-gryp">
            <span class="sale-button-f">Fused carbon fiber</span>
            <span class="sale-button-gr">Grade-5 Titanuim</span>
            <span class="sale-button-at">Athlete</span>
            <span class="sale-button-go">Golfer</span>
            <span class="sale-button-co">Commander</span>
            <span class="sale-button-ad">Adventurer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
