.about-us {
  margin-top: 60px;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.about-us-container-wrap {
  max-width: 335px;
  border-radius: 30px;
  height: 446px;
  background: #f3f3f3;
  margin-bottom: 20px;
  padding: 40px 20px;
}
.about-us-text-container {
  width: 295px;
  max-height: 278px;
}

.about-us-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding-top: 0;
  margin-bottom: 28px;
}

.about-us-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-us-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(9, 2, 2, 0.7);
}

.about-us-btn {
  border-radius: 16px;
  padding: 15px 37px;
  width: 160px;
  height: 48px;
  background-color: #3350e9;

  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
}
.about-us-btn-box {
  margin-top: 40px;
}
