body {
    font-family: "Gilroy", sans-serif;
    background-color: #fbfbfb;
}

/* Container */

.container {
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        min-height: 92px;
        padding: 0 26px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        min-height: 88px;
        }
}


