.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 211px;
  padding: 20px;
  min-width: 375px;
  height: 74px;
  border-bottom: 1px solid #e7e9fc;
}

.logo-head {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.mobile-icon {
  fill: #000000;
}
.btn-open-mobile-menu {
  width: 34px;
  height: 34px;
  display: block;
  border: none;
  background-color: #fff;
}

/* modal */
/* .modal-menu {
  position: absolute;
  width: 200px;
  height: 812px;
  top: 0;
  right: 0;
  z-index: 999;
  padding-top: 240px;
  padding-left: 63px;
  padding-right: 64px;
} */

.btn-close-mobile-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  display: block;
  position: absolute;
  z-index: 999;
  width: 55%;
  height: 812px;
  top: 0;
  right: 0;
  padding-top: 240px;
  padding-left: 63px;
  padding-right: 63px;
  background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url("../img/img-menu-bg/menu-bg-img-mob1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.is-mob-open {
  opacity: 1;
  visibility: visible;
}
.nav-container {
  display: flex;
  flex-direction: column; 
  gap: 34px;
}
.nav-list {
  
}

.nav-link {
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
  color: #fbfbfb;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
