.header-up {
  background-color: green;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 0 20px;
  min-width: 375px;
  height: 74px;
  border-bottom: 1px solid #e7e9fc;
 }
 .header-container {
  align-items: center;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
 }
 .header-logo {
  width: 90px;
  height: 19px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0C0C0C;
 }
 .open-menu-btn {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  border: none;
  stroke-width: 2.5px;
  stroke: #0C0C0C;
  display: block;
 }
 .close-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 999;
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 34px;
  height: 34px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .header-menu {
  display: none;
 }
 .is-mob-open {
  opacity: 1;
  visibility: hidden;
}
.social-icon-svg {
  fill: #FBFBFB;
}
 .mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  z-index: 999;
  width: 55%;
  height: 812px;
  top: 0;
  right: 0;
  padding-top: 240px;
  padding-left: 63px;
  padding-right: 63px;
  background-size: cover;
    background-image: linear-gradient(
        to bottom,
       rgba(12, 12, 12, 0.92),
       rgba(12, 12, 12, 0.92)
    ),
    url("../img/img-menu-bg/menu-bg-img-mob1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    gap: 260px;
 }
 @media (min-resolution: 192dpi) {
  .mobile-menu {
    background-image: linear-gradient(
      to bottom,
      rgba(12, 12, 12, 0.92),
      rgba(12, 12, 12, 0.92)
  ),
  url("../img/img-menu-bg/menu-bg-img-mob2x.jpg");
  }
}
 .mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
 }
 .header-menu-item {
  display: flex;
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
  text-wrap: nowrap;
  color: #fbfbfb;
  position: relative;
}
.header-menu-item:hover,
.header-menu-item:focus {
 color: #4D5AE5;
}
.active::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: #4D5AE5;
  border-radius: 50%;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
 }
 .header-socials {
  fill: white;
  width: 122px;
  height: 34px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 10px;
 }
 .header-social-item {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  width: 36px;
  height: 36px;
  padding: 8px;
}
.header-link { 
  
}
.header-link:hover,
.header-link:focus {
    fill: white; 
}
.header-svg {
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
  fill: white;
 }

 @media screen and (min-width: 768px) {
  .header-up {
   min-width: 768px;
   height: 92px;
   margin: 0 auto;
   background-color: #fff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 25px 32px;
  }
  .header-container {
   width: 704px;
   margin: 0 auto;
  }
  .header-logo {
   width: 112px;
   height: 24px;
   font-size: 20px;
   letter-spacing: -0.02em;
  }
  .mobile-menu {
    width: 42%;
    height: 1024px;
    padding-top: 310px;
    background-image: linear-gradient(
        to bottom,
       rgba(12, 12, 12, 0.92),
       rgba(12, 12, 12, 0.92)
    ),
    url("../img/img-menu-bg/menu-bg-img-tab1x.jpg");
  }
  .mobile-menu-list {
    row-gap: 32px;
  }
  @media (min-resolution: 192dpi) {
    .mobile-menu {
      background-image: linear-gradient(
        to bottom,
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
    ),
    url("../img/img-menu-bg/menu-bg-img-tab2x.jpg");
    }
  }
 }
 @media screen and (min-width: 1280px) {
  .header-up {
   padding: 26px 64px;
   min-width: 1280px;
   height: 88px;
   margin: 0 auto;
   background-color: #fff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .header-container {
   width: 1151px;
   height: 36px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin: 0 auto;
   gap: 203px;
  }
  .open-menu-btn {
   display: none;
  }
  .is-mob-open {
    opacity: 1;
    visibility: visible;
  }
  .mobile-menu {
    min-width: 505px;
    height: 28px;
    background-image: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    padding: 0;
    gap: 203;
  }
  @media (min-resolution: 192dpi) {
    .mobile-menu {
      background-image: none;
    }
  }
  .mobile-menu-list {
    flex-direction: row;
    row-gap: 0;
    gap: 40px;
  }
  .header-logo {
   width: 112px;
   height: 24px;
   font-family: 'Gilroy', sans-serif;
   font-weight: 500;
   font-size: 20px;
   letter-spacing: -0.02em;
   color: #0C0C0C;
   text-decoration: none;
  }
  .header-socials {
    align-items: center;
    justify-content: center;
  }
  .header-menu-item {
   font-family: 'Gilroy', sans-serif;
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   text-align: center;
   color: #0C0C0C;
   display: block;
   transition: color 0.3s;
   position: relative;
  }
  .close-menu-btn {
    visibility: hidden;
  }
  .container-media-header {
   width: 128px;
   height: 36px;
   display: flex;
   gap: 15px;
  }
  .header-svg {
   border: 1px solid rgba(12, 12, 12, 0.1);
   border-radius: 10px;
   padding: 8px;
   width: 36px;
   height: 36px;
   fill: #0C0C0C;
  }
  .header-social-item {
   display: inline-block;
   padding: 8px;
  }
  .social-icon-svg {
    fill: #0C0C0C;
  }
  .header-link:hover,
  .header-link:focus {
    fill: #4D5AE5; 
  }
 }  