.reviews {
    margin: 60px 0;
    }
    .name-reviews {
        font-weight: 600;
        font-size: 32px;
        line-height: 1;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        margin-bottom: 24px;
    }
    
    .list-reviews {
        display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
    border-radius: 30px;
    height: 262px;
    }
    
    .item-cover {
        border-radius: 30px;
        padding: 32px 36px;
        height: 262px;
        background-color: #f3f3f3;
    }
    
    .img-review {
    stroke-width: 2px;
    stroke: #fbfbfb;
        border-radius: 28px;
        margin-bottom: 24px;
        stroke-width: 2px;
        stroke: #fbfbfb;
        width: 56px;
        height: 56px;
    }
    
    .about-rev {
        display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    height: 208px;
    }
    
    .name-reviewer {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        text-align: center;
        color: #0c0c0c;
    }
    
    .text-review {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(12, 12, 12, 0.4);
    }

    .item-reviews-third,
    .item-reviews-second {
        display: none;
    }

@media screen and (min-width: 768px) {
    .item-reviews-third {
        display: none;
    }

    .reviews {
        margin: 60px 0;
        }
        .name-reviews {
            font-weight: 600;
            font-size: 48px;
            line-height: 0.92;
            letter-spacing: -0.02em;
            color: #0c0c0c;
            margin-bottom: 40px;
        }
        
        .list-reviews {
            display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 16px;
        border-radius: 30px;
        width: 344px;
        height: 272px;
        }
        
        .item-cover {
            border-radius: 30px;
            padding: 32px 36px;
            width: 344px;
            height: 272px;
            background-color: #f3f3f3;
        }
        
        .img-review {
        stroke-width: 2px;
        stroke: #fbfbfb;
            border-radius: 28px;
            margin-bottom: 24px;
            stroke-width: 2px;
            stroke: #fbfbfb;
            width: 56px;
            height: 56px;
        }
        
        .about-rev {
            display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 8px;
        width: 272px;
        height: 208px;
        }
        
        .name-reviewer {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.1;
            letter-spacing: -0.02em;
            text-align: center;
            color: #0c0c0c;
        }
        
        .text-review {
            font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(12, 12, 12, 0.4);
        }

        .item-reviews-second {
            display: list-item;
        }
}

@media screen and (min-width: 1280px) {
    .reviews {
        margin: 100px 0;
        }
        .name-reviews {
            font-weight: 600;
            font-size: 48px;
            line-height: 0.91667;
            letter-spacing: -0.02em;
            color: #0c0c0c;
            margin-bottom: 40px;
        }
        
        .list-reviews {
            display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 20px;
        border-radius: 30px;
        width: 370px;
        height: 272px;
        }
        
        .item-cover {
            border-radius: 30px;
            padding: 32px 36px;
            width: 370px;
            height: 272px;
            background-color: #f3f3f3;
        }
        
        .img-review {
        stroke-width: 2px;
        stroke: #fbfbfb;
            border-radius: 28px;
            margin-bottom: 24px;
            stroke-width: 2px;
            stroke: #fbfbfb;
            width: 56px;
            height: 56px;
        }
        
        .about-rev {
            display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 8px;
        width: 298px;
        height: 208px;
        }
        
        .name-reviewer {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.1;
            letter-spacing: -0.02em;
            text-align: center;
            color: #0c0c0c;
        }
        
        .text-review {
            font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(12, 12, 12, 0.4);
        }

        .item-reviews-third {
            display: list-item;
        }
}
