.section-sale {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 60px;
}
.sale-content {
    display: flex;
    flex-wrap: wrap;
}
.sale-link {
    display: flex;
    padding: 24px 0 20px;
    gap: 5px;
}
.sale-logo {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #0C0C0C;
}
.sale-list {
    display: block;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 16px;
    width: 80px;
    height: 80px;
    background: #F3F3F3;
    padding: 13px 14px;
}
.sale-images {
    width: 52px;
    height: 54px;
    background: url("path_to_image");
}
.sale-list-big {
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    width: 335px;
    height: 385px;
    background: #F3F3F3;
    padding: 50px;
}
.sale-images-big {
    width: 235px;
    height: 285px;
    background: url("path_to_image");

}
.sale-images-big:hover,
.sale-images-big:focus {
    transform: rotate(-180deg);
}
.container-sale-ty {
    border-radius: 30px;
    width: 335px;
    background-color: #3350E9;
    margin-top: 20px;
}
.container-sale-ty-m {
    padding: 48px 28px;
}
.sale-logo-ty {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: #FBFBFB;
    width: 279px;
}
.sale-text {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
    padding: 10px 0 20px;
}
.sale-current-price {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #FBFBFB;
    border: 1px solid rgba(251, 251, 251, 0.2);
    background-color: rgba(251, 251, 251, 0.1);
    border-radius: 8px;
    width: 68px;
    height: 32px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
}
.sale-old-price {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    text-decoration: line-through;
    color: rgba(251, 251, 251, 0.5);
    align-items: center;
}
.sale-text-fri {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.7);
    width: 279px;
    padding: 28px 0;
}
.sale-gryp {
    width: 279px;
    display: flex;
    flex-wrap: wrap;
    gap:8px;
}
.sale-button-f {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #FBFBFB;
    background-color: #3350E9;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;
    padding: 8px 11px;
    width: 128px;
    height: 32px;
}
.sale-button-gr {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #FBFBFB;
    background-color: #3350E9;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;
    padding: 8px 11px;
    width: 123px;
    height: 32px;
}
.sale-button-at {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #FBFBFB;
    background-color: #3350E9;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;
    padding: 8px 12px;
    width: 64px;
    height: 32px;
}
.sale-button-go {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #FBFBFB;
    background-color: #3350E9;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;
    padding: 8px 12px;
    width: 58px;
    height: 32px;
}
.sale-button-co {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #FBFBFB;
    background-color: #3350E9;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;
    padding: 8px 12px;
    width: 94px;
    height: 32px;
}
.sale-button-ad {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #FBFBFB;
    background-color: #3350E9;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;
    padding: 8px 12px;
    width: 85px;
    height: 32px;
}
@media screen and (min-width:375px) {
    .section-sale {
        width: 375px;
        margin: 0 auto;
        margin-top: 60px;
    }
    .container-sale {
        margin-left: 20px;
    }
    .container-sale-ty {
        margin-left: 20px;
    }
}
@media screen and (min-width:768px) {
    .section-sale {
        width: 768px;
        margin: 0 auto;
        margin-top: 80px;
    }
    .container-sale {
        margin-left: 32px;
    }
    .sale-logo {
        font-size: 48px;
        line-height: 92%;
        margin-bottom: 40px;
    }
    .sale-link {
        display: block;
        gap: 0px;
        padding: 0px;
    }
    .sale-list {
        border-radius: 20px;
        width: 132px;
        height: 132px;
        padding: 16px 18px;
        margin-top: 10px;
    }
    .sale-images {
        width: 96px;
        height: 100px;
    }
    .sale-list-big {
        border-radius: 50px;
        width: 552px;
        height: 558px;
        padding: 80px 112px;
        margin-left: 20px;
    }
    .sale-images-big {
        width: 328px;
        height: 398px;
    }
    .container-sale-ty {
        width: 704px;
        height: 518px;
        margin-left: 32px;
        margin-top:40px;
    }
    .container-sale-ty-m {
        padding: 60px 60px;
    }
    .sale-logo-ty {
        font-size: 32px;
        line-height: 112%;
        width: 436px;
    }
    .sale-current-price {
        width: 78px;
    }
    .sale-text-fri {
        font-size: 16px;
        line-height: 125%;
        width: 584px;
        padding: 33px 0 37px;
    }
    .sale-gryp {
        width: 398px;
    }
    .sale-button-f {
        font-size: 14px;
        line-height: 129%;
        width: 145px;
        height: 34px;
    }
    .sale-button-gr {
        font-size: 14px;
        line-height: 129%;
        width: 139px;
        height: 34px;
    }
    .sale-button-at {
        font-size: 14px;
        line-height: 129%;
        width: 70px;
        height: 34px;
    }
    .sale-button-go {
        font-size: 14px;
        line-height: 129%;
        width: 64px;
        height: 34px;
    }
    .sale-button-co {
        font-size: 14px;
        line-height: 129%;
        width: 105px;
        height: 34px;
    }
    .sale-button-ad {
        font-size: 14px;
        line-height: 129%;
        width: 95px;
        height: 34px;
    }
}
@media screen and (min-width:1280px) {
    .section-sale {
        padding: 0px 65px;
        width: 1280px;
        margin-left: 0;
        margin: 0 auto;
        margin-top: 100px;
    }
    .container-sale-nov {
        display: flex;
    }
    .container-sale {
        margin-left: 0;
    }
    .sale-list-big {
        width: 428px;
        height: 558px;
        padding: 80px 50px;
    }
    .sale-images-big {
        width: 328px;
        height: 398px;
    }
    .container-sale-ty {
        border-radius: 50px;
        width: 530px;
        height: 558px;
        margin-top: 84px;
        margin-left: 40px;
    }
    .sale-logo-ty {
        width: 389px;
    }
    .sale-text-fri {
        width: 410px;
        padding: 30px 0 40px;
    }
}